<html>

<head>
<title>About Us Page</title>
<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

Team description:
<br>
UCSD undergraduate second year students majoring in EE.
<br>
<br>
Team Members:
<br>
David He email: dyhe@ucsd.edu
<br>
Xiaolei Du
<br>
Derek Chen
<br>
Haowen Jiang
<br>
<br>
team vision:
<br>
According to the latest report published by P&S Market Research, global wearable fitness trackers market size is forecasted to generate a revenue of $48.2 billion by 2023, the growth is led by increasing use of fitness tracking apps, rising demand for wireless and continuous health monitoring devices, thriving awareness about obesity, and increase in disposable income.
In this background context, we decide to make a product associated with service to monitor a customer’s health condition, such as heart rate, trace element content, body water level content, body temperature… The device will store the information and let the analyzer analyze the health record. By connecting to a large database, the analyzer can analyze the measurements and give according to advice to let the user improve their living style. The health care assistance can also share the health history with doctors or other members that are connected, such as family members. On our service side, we can organize a customer’s medical history and clearly represent them. By connecting to a large data set, the assistance can also study and give the best advice for a customer to get better.
<br>
<form name='backToHomePage' action='/'>         
          <input class='btn medium' type='submit' value="Back To Home Page">  </input>
</form>

<script type = "text/javascript">
    if(document.referrer === '')window.location = '/'
</script> 

</html>