<html>

<head>
<title>Personal Health Assistance Home Page</title>
<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<div class='hero'>
Personal Health Assistance Home Page
</div>
<br>
<br>
Key Value Proposition:
<br>
the unique point of the product is that it can take the doctor’s brief prescription or let the doctor choose the recommended activities for their patient. 
<br>
From the doctor's direction, the product can schedule the activities and remind the patient to stick to the prescription and schedule, by sending emails or text messages. 
<br>
This way, the patients can recover well from illness and don’t have to worry about forgetting the directions.
<br>

<!-- <p>Get Started! <a href="/post_user"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>Product Features <a href="/product_features"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>Pricing <a href="/pricing"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>About us <a href="/about_us"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>Send An Email <a href="/send_email"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>Register for admin<a href="/register"><font size=3><strong>Click Here</strong></a></p> -->
<!-- <p>Log in admin portal<a href="/login"><font size=3><strong>Click Here</strong></a></p> -->

<form action='/post_user'>     
          <input class='btn medium' type='submit' value="Get Started!">  </input>
</form>
<form action='/product_features'>     
          <input class='btn medium' type='submit' value="Product Features">  </input>
</form>
<form action='/pricing'>     
          <input class='btn medium' type='submit' value="Pricing">  </input>
</form>
<form action='/about_us'>     
          <input class='btn medium' type='submit' value="About us">  </input>
</form>
<form action='/send_email'>     
          <input class='btn medium' type='submit' value="Notification Mechanism!">  </input>
</form>
<form action='/register'>     
          <input class='btn medium' type='submit' value="Register for admin">  </input>
</form>
<form action='/login'>     
          <input class='btn medium' type='submit' value="Log in admin portal">  </input>
</form>

</html>