<html>

<head>
<title>Pricing Page</title>
<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

Pricing:
<br>
Prime Membership 10$/mon
<br>
<ul>
<li>first monthly is free</li>
<br>
<li>Prime Membership for the membership fee</li>
<br>
<li>Better discounts</li>
<br>
<li>No ads on app/website</li>
<br>
</ul>
<br>
Advertisement
<br>
<ul>
<li>AD: on the website, advertisements can be posted to gain revenue. 50$/post</li>
<br>
</ul>
<br>
Discounts and dividends
<br>
<ul>
<li>when a patient is introduced to a hospital, charge the hospital 1% service fee</li>
<br>
<li>User get 1% discount when using our product</li>
<br>
</ul>
<form name='backToHomePage' action='/'>         
          <input class='btn medium' type='submit' value="Back To Home Page">  </input>
</form>

<script type = "text/javascript">
    if(document.referrer === '')window.location = '/'
</script> 

</html>