<html>

<head>
<title>Product Features Page</title>
<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

Product Features:
<ol>
<br>
<li>It can organize a user’s health records for doctor or user to quickly know the body health situation.</li>
<br>
<li>can schedule the activities and remind the patient to stick to the prescription and schedule, by sending emails that link with user’s Calendar.</li> 
<br>
<li>Give discount on visiting doctor.</li>
<br>
<li>Helps to rate and rank hospital/health center by user’s review.</li>
<br>
</ol>
<form name='backToHomePage' action='/'>         
          <input class='btn medium' type='submit' value="Back To Home Page">  </input>
</form>

<script type = "text/javascript">
    if(document.referrer === '')window.location = '/'
</script> 

</html>